<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'title' %>:</strong>
  <%= @web_page.title %>
</p>

<p>
  <strong><%= t 'description' %>:</strong>
  <%= @web_page.description %>
</p>

<p>
  <strong><%= t 'body' %>:</strong>
  <%= @web_page.body %>
</p>

<p>
  <strong><%= t 'author' %>:</strong>
  <%= @web_page.author %>
</p>

<%= link_to t('edit'), edit_web_page_path(@web_page) %> |
<%= link_to t('back'), web_pages_path %>
